
header{
	background-color: #F15B31;
	font-color: white;
	padding: top 30px, bottom 30px, right 20px, left 20px;
}

body {
text-align: center;
text-decoration-style: wavy;
margin: 0;
}
h1: {
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

h2 {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

nav {
	background-color: #00A6B3;
	font-color: white;
	padding: top 20px, bottom 20px,
}

nav a{
	color: #FFFFFF;
	border-bottom: 2px solid transparent;
}

a {
	margin: 0 20px 0 20px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
}

p {
font-family: "Droid Serif", serif;
}

main {
	width: 850px;
	margin: 35px auto 35px auto;
}

img:{
	margin: top 40px, right 8px, left 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a:hover {
	border-color: #FFFFFF;
}
